
// $Neutral900: rgba(20, 23, 31, 1);
$Black:rgba(41, 46, 61, 1);
$Grey:rgba(133, 142, 173, 1);
// $Neutral200:rgba(194, 199, 214, 1);
$White:rgba(255, 255, 255, 1);
$Blue:rgba(41, 71, 169, 1); 
$Orange: rgba(249, 153, 93, 1);