:root {
  --black-color: rgba(41, 46, 61, 1);
  --blue-color: rgba(41, 71, 169, 1);
  --grey-color: rgba(133, 142, 173, 1);
  --orange-color: rgba(249, 153, 93, 1);
  --white-color: rgba(255, 255, 255, 1);

  
}