.header {
  @include flex-container(space-between, center, nowrap);
  padding: 16px 112px;

  &__left {
  @include flex-container (flex-start, center, nowrap);
  }
}

.logo__space {
  margin-right: 20px;
}

.nav {
  @include flex-container (flex-end, center, nowrap);
  color: black;

  &__item {
    padding-right: 55px;
  }
  &__item:last-child {
    padding-right: 0;
  }
  &__item--accent {
    color: orange;
  }
}


