.header {
  @include flex-container(row, space-between, center, nowrap);
  padding: 16px 112px;

  &__left {
  @include flex-container (row, flex-start, center, nowrap);
  }
}

.logo__space {
  margin-right: 20px;
}

.nav {
  @include flex-container (row, flex-end, center, nowrap);
  color: var(--black-color);

  &__item {
    padding-right: 55px;
  }
  &__item:last-child {
    padding-right: 0;
  }
  &__item--accent {
    color: var(--orange-color);
  }
}


