.button {
  @include flex-container (row, center,center, wrap);
  width: 400px;
}

.button__back {
  background-color: var(--black-color);
  @include flex-container (row, center,center, nowrap);
  width: calc(50% - 1px);
  padding: 5px 0;
}

.button__next {
  background-color: var(--black-color);
  @include flex-container (row, center,center, nowrap);
  width: 50%;
  padding: 5px 0;
}

.button__link {
  color: var(--white-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 21.11px;
  padding: 0 5px;
}

.gap {
  padding-right: 1px;
  background-color: var(--white-color);
}