.logo {
  background-image: url(/Images/logo.svg);
  width: 38px;
  height: 47.5px;
  background-repeat: no-repeat;
  background-size: contain;
}

.logo__title {
  background-image: url(/Images/logo_title.svg);
  width: 111px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
}