.about-us {
  display: flex;

  &__container {
    @include flex-container (column, center, flex-start, wrap);
    position: absolute;
    // width: 488px;
    // height: 523px;
    margin-top: 147px;
    margin-left: 840px;
    border-radius: 2px;
    background-color: var(--blue-color);
  }

  &__text {
    padding: 25px;
    width: 390px;
  }
}