.about-us {
  display: flex;

  &__container {
    @include flex-container (column, center, flex-start, wrap);
    position: relative;
    margin-top: 147px;
    left: -100px;
    top: -40px;
    border-radius: 2px;
    background-color: var(--blue-color);
  }

  &__text {
    padding: 25px;
    width: 390px;
  }
}