.hero {
  @include flex-container(center,center, nowrap);
  // width: 100%;
  // height: 646px;
  margin: auto;
  
  &__container {
  flex: 70%;
  padding-top: 70px;
  padding-bottom: 70px;
  }

  &__block {
  flex: 30%;
  position: relative;
  }

  &__title {
  top: 0px;
  left: 112px;
  width: 250px;
  height: auto;
  // background-color: pink;
  position: relative; 
  }

  &__block-title{
  text-align: center;
  background-color: #3939dc;
  color: white;
  width: 250px;
  position: relative;
  text-wrap: wrap;
  // @include flex-container(row, center, center, wrap)
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
}







